PORT=5000
MONGO_URI=mongodb://localhost:27017/zephyra
JWT_SECRET=development_fallback_secret_key_zephyra_123
CLOUDINARY_NAME=mock_cloudinary_name
CLOUDINARY_API_KEY=mock_cloudinary_key
CLOUDINARY_API_SECRET=mock_cloudinary_secret
